// main colors
$main-first-color: #34313d;
$main-secondary-color: #3a3054;
$main-thir-color: #4b3f6b;
$main-fourth-color: #9e9aa8;
$main-white-color-bg: #eff1f7;
$main-light-green-color: #2bd0d0;
$main-white-color: #ffff;
$main-hover-btn: #9ae3e3;

// font

$poppins-500: "Poppins-500";
$poppins-700: "Poppins-700";

// input fild
$input-border-incorrect: #f46363;
